{% extends "layouts/main.html"%}
{% load static %}
{%block body%}
<!DOCTYPE html><html class=''>
<head>
<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet' type='text/css'>
<script src="https://use.typekit.net/hoy3lrg.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'><link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>
<link rel="stylesheet" href="{%static 'chat.css'%}">
</head><body>

<div id="frame">
	<div id="sidepanel">
		<div id="profile">
			<div class="wrap">
				<img id="profile-img" src="{% static 'profile/' %}{{request.user.profile_avatar}}" class="online" alt="" />
				<p>{{request.user.first_name}} {{request.user.last_name}}</p>
				
				<div id="status-options">
					<ul>
						<li id="status-online" class="active"><span class="status-circle"></span> <p>Online</p></li>
						<li id="status-away"><span class="status-circle"></span> <p>Away</p></li>
						<li id="status-busy"><span class="status-circle"></span> <p>Busy</p></li>
						<li id="status-offline"><span class="status-circle"></span> <p>Offline</p></li>
					</ul>
				</div>
				<div id="expanded">
					<label for="twitter"><i class="fa fa-facebook fa-fw" aria-hidden="true"></i></label>
					<input name="twitter" type="text" value="mikeross" />
					<label for="twitter"><i class="fa fa-twitter fa-fw" aria-hidden="true"></i></label>
					<input name="twitter" type="text" value="ross81" />
					<label for="twitter"><i class="fa fa-instagram fa-fw" aria-hidden="true"></i></label>
					<input name="twitter" type="text" value="mike.ross" />
				</div>
			</div>
		</div>
		<div id="search">
			<label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
			<input type="text" placeholder="Search contacts..." />
		</div>
		<div id="contacts">
			<ul>
			  {% for room in  rooms %}
				<li class="contact active">
					<div class="wrap">
						{% if room.user1.username == request.user.username %}
						<a href = "{% url 'chatroom' room.user2.id %}" >
						<span class="contact-status busy "></span>
						<img src="{% static 'profile/' %}{% if room.user1.username == request.user.username%}{{room.user2.profile_avatar}}{% else %}{{room.user1.profile_avatar }}{%endif%}" alt="" />
						</a>
						{% else %}
						<a href = "{% url 'chatroom' room.user1.id %}">
							<span class="contact-status busy"></span>
							<img src="{% static 'profile/' %}{% if room.user1.username == request.user.username%}{{room.user2.profile_avatar}}{% else %}{{room.user1.profile_avatar }}{%endif%}" alt="" />
						</a>
						{%endif%}
						{% if room.isread%}
						<div class="meta">
							
							<p class="name">{% if room.user1.username == request.user.username%} {{room.user2.username}} {% else %} {{room.user1.username }}{%endif%} </p>
							<p class="preview"></p>
						</div>
						{%else%}
						<div class="meta">
							
						<strong> <h6 class="name">{% if room.user1.username == request.user.username%} {{room.user2.username}} {% else %} {{room.user1.username }}{%endif%} </p> </strong>
							<p class="preview"></p>
						</div>

						{% endif%}

					</a>
					</div>
				</li>
				{% endfor %}
			</ul>
		</div>
	
	</div>
	{% if roomdetail %}
	<div class="content">
		<div class="contact-profile">
			<img src="{% static 'profile/' %}{% if roomdetail.user1.username == request.user.username%}{{roomdetail.user2.profile_avatar}}{% else %}{{roomdetail.user1.profile_avatar }}{%endif%}" alt="" />
			<p>{% if roomdetail.user1.username == request.user.username%}{{roomdetail.user2.first_name}}{% else %}{{roomdetail.first_name}}{%endif%}</p>
		
		</div>
		<div class="messages">
            <ul>
                
            </ul>
		
		</div>
		<div class="message-input">
			<div class="wrap">
			<input type="text" placeholder="Write your message..."  id="chat-message-input" value="ho" />
			<i class="fa fa-paperclip attachment" aria-hidden="true" id="chat-log"></i>
			<button class="submit"><i class="fa fa-paper-plane" aria-hidden="true" id="chat-message-submit"></i></button>
			</div>
		</div>
	</div>
	{% endif %}
    {{ room_name|json_script:"room-name" }}
    {{ username|json_script:"username" }}
</div>

<script src="{% static 'js/chat.js' %}"></script>
<script src="{% static 'js/reconnecting.js' %}"></script>
<script>
    const roomName = JSON.parse(document.getElementById('room-name').textContent);
    const username = JSON.parse(document.getElementById('username').textContent);
    const chatSocket = new ReconnectingWebSocket(`ws://${window.location.host}/ws/chat/${roomName}/`);
    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        if(data['command']=="message")
        {
            console.log("message command")
            for (let i = 0 ; i<data['messages'].length;i++){
                createMessage(data['messages'][i])
                
            }
        }
        else if(data['command']=="new_message")
        {
            console.log("new - message command")
            createMessage(data['message'])

        }
        
        
    };  
    function createMessage(data)
    {
        let sender = data['sender']
        console.log(data)
        let messagesList = document.createElement('li')
        let image = document.createElement('img')
        let content = document.createElement('p')
        content.textContent=data['message']
        image.src = "http://emilcarlsson.se/assets/mikeross.png"
        if(sender===username){
            messagesList.className="sent"
        }
        else
        {
            messagesList.className="replies"

        }
        messagesList.appendChild(image)
        messagesList.appendChild(content)
        document.querySelector('.messages ul').appendChild(messagesList)
        $('.message-input input').val(null);
	    $('.contact.active .preview').html(`<span>${data['sender']===username?"You :":data['sender'] + ":"}</span>` + data['message'] );
	//  $(".messages ul ").animate({ scrollTop: $(document).height() }, "fast");

    }
    function fetchMessages(){
        chatSocket.send(JSON.stringify({
           
            'command': 'fetch-messages',
			'from': username,
			
            
           
        })); 
    }
    chatSocket.onopen = function(e) {
        fetchMessages();
        };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
  console.log("clicked")
//   const messageInputDom = document.getElementById('chat-message-input');
 	message = $(".message-input input").val();
	if($.trim(message) == '') {
		return false;
	}

        chatSocket.send(JSON.stringify({
            'message': message,
            'command': 'new-message',
            'from':username
           
        }));
		notificationSocket.send(JSON.stringify({
    
        "command":"start"
  }))
    
};


  
</script>

</body>
{% endblock %}
</html>