{% extends "layouts/main.html"%}
{%block body%}
<h2>Post</H2>
<div class=" mt-3 left">
  <div class="card mb-4 ">
    <div class="card-body  ">
      <div class="dropdown float-right">
          <a  class="btn" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" > <i class="bi bi-three-dots  hover:bg-gray-200 rounded-full p-2 transition -mr-1 dark:hover:bg-gray-700"></i> </a>
            <div class="dropdown-menu " aria-labelledby="dropdownMenuLink">
              <a  class="dropdown-item text-primary" href="{% url 'edit' post.id %}" >
                <i class="bi bi-pencil"></i> Edit Post 
              </a> 
              <a class="dropdown-item text-danger"  href="{% url 'delete' post.id %}" >
                <i class="bi bi-trash "></i> Delete
              </a> 
            </div>
        </div>
        <div class="card-header border-bottom">
          <p class="card-text text-primary h5"> {{post.user_id}}</p>
            <p class="card-text  text-muted "> {{post.creation_date_time}} </p>  
        </div>   
          
        <div class="card-body">   
          {% if post.post_image %}              
          <img src="{{ post.post_image.url }}"  alt="connect" style="width: 50%; float: left; margin-right: 10px;" /> {% endif %}
          </br><p class="card-text  mt-2 h6">{{post.content}}</p>
        </div>
        <div class="card-body border-top"> 
          <h3>Comments....</h3> 
          <div >
            {% if not post.post.all %}
            <p>there is no comment</p>
            {% else %}
             {% for comment in post.post.all %}
             <strong>{{comment.post_id}}-{{comment.creation_date_time}}</strong> </br>
             {{comment.content}}  
          </div>
           {% endfor %}
           {% endif %}
           
          <div class="card-body">
            <form action="{% url 'details' post.id %}" method="post">
              {% load crispy_forms_tags %}
              {%csrf_token%}
               <div class="card ">
                  <div class="card-body" >
           
                   {{ comment|crispy}}
                   <button type="submit" class="btn btn-primary" value="{{post.id}}">Add a comment</button>
                  </div>  
                </div>
            </form>  
          </div> 
             
        </div>
      </div>
    </div>
  </div>
  <a href="{% url 'index' %}">Back</a>
</div>  

{% endblock %}

