{% extends "layouts/main.html"%} {%block body%} {% load static %}
<div class="card">
  <div class="card-header">Friends</div>

 

{% for friend in friends%}
 {% if request.user.username == friend.user1.username %}
      <img
        src="{{friend.user2.profile_avatar.url}}"
        style="width: 40px; height: 40px"
      />
      <a href="{% url 'userprofile' friend.id %}"
        >{{friend.user2.first_name }} {{friend.user2.last_name }}</a
      >
    </li>
  </div>
  {% else %}
      <img
        src="{{friend.user1.profile_avatar.url}}"
        style="width: 40px; height: 40px"
      />
      <a href="{% url 'userprofile' friend.id %}"
        >{{friend.user1.first_name }} {{friend.user1.last_name }}</a
      >
    </li>
  </div>
  {% endif %}
  {% endfor %}

 

 


   {% for friend in findfriend2%}
      <img
        src="{{friend.profile_avatar.url}}"
        style="width: 40px; height: 40px"
      />
      <a href="{% url 'userprofile' friend.id %}"
        >{{friend.first_name }} {{friend.last_name }}</a
      >
    </li>
  </div>
  {% endfor %}


{% endblock %}