{% extends "layouts/main.html"%}
{%block body%}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>all users</title>
</head>
<body>
 
    {%for user in users%}
    {%if user.username != request.user.username %}
    <li class="list-group-item" style="  position: relative;"> 
        <img src="{% static 'profile/' %}{{user.profile_avatar}}" style="width: 40px; height: 40px;">
        <a href="{% url 'userprofile' user.id %}" > {{user.first_name }} {{user.last_name }}  </a>
        {{user.senderRequest}}
    
        <a href="" class="btn btn-success" style="position: absolute;
        bottom: 15px;
        right: 10px;
        color: white;">
        cancel
    </a>
   
    <a href="" class="btn btn-success" style="position: absolute;
    bottom: 15px;
    right: 10px;
    color: white;">
   send friend request
     </a>

    </li>
    {% endif %}
    {% endfor %}
</body>
{% endblock %}
</html>